<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thêm thành công</title>
    <style>
        .trai{
            text-align: left;
        }
    </style>
</head>
<body style="text-align: center">
    <h1>Danh sách nhân viên</h1>
    {% if bang %}
    <table border="2" align=center>
        <tr>
            <td>ID</td>
            <td>Tên nhân viên</td>
            <td>Chức vụ</td>
            </tr>
        {% for x in bang %}
        <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.ten_nhan_vien }}</td>
        <td>{{ x.chucvu }}</td>
        <td><a href="{%url 'chi_tiet' x.id %}">Cập nhật</a></td>
        <td><a href="{%url 'xoa_nhanvien' x.id %}">Xóa</a></td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
    <p style="text-align:center">
        Data not exit
    </p>
    {%endif%}
    <p>
        <a href="{%url 'themnhanvien' %}">Thêm nhân viên</a>
    </p>
</body>
</html>